@import "../variables";
.instagramSection {
  padding-bottom: 120px;
  &_mainWrapper {
    @media screen and (min-width: 1440px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }
  &_wrapperImgPC {
    display: none;
    @media screen and (min-width: 1440px) {
      display: flex;
      &_img {
        img {
          max-width: 100%;
          height: auto;
        }

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
  &_wrapperContent {
    @media screen and (min-width: 1440px) {
      max-width: 390px;
      margin-right: 105px;
    }

    &_title {
      font-family: var(--font-lato);
      font-size: 38px;
      font-weight: 300;
      line-height: 1.2;
      text-transform: uppercase;
      color: $dark-color;
      margin-bottom: 40px;
      @media screen and (min-width: 834px) {
        font-size: 48px;
      }
      &_span1 {
        display: flex;
        justify-content: center;
        @media screen and (min-width: 1440px) {
          justify-content: start;
        }
      }
      &_span2 {
        display: flex;
        justify-content: end;
        color: $accent-color;
      }
    }
    &_text {
      font-family: var(--font-lato);
      font-size: 15px;
      font-weight: 300;
      line-height: 1.2;
      color: $dark-color;
      margin-bottom: 24px;
      @media screen and (min-width: 834px) {
        font-size: 18px;
      }
      @media screen and (min-width: 1440px) {
        margin-bottom: 40px;
      }
    }
    &_wrapperImg {
      display: flex;
      margin-bottom: 24px;
      @media screen and (min-width: 1440px) {
        display: none;
      }
      &_img {
        img {
          max-width: 100%;
          height: auto;
        }
        &:first-child {
          margin-right: 16px;
          @media screen and (min-width: 834px) {
            margin-right: 32px;
          }
        }
      }
    }
  }
}

.link.instagramSection_wrapperContent_link {
  color: $accent-color;
  width: 100%;
}
